*.db
*.local.*
*.old
*.opensdf
*.sdf
*.suo
*.user
/.vs/
/History*.txt
/bin/
/etc/*.ini
/etc/*.log
/etc/_old_
/etc/sources/*.tar
/etc/sources/*.tar.xz
/gui/_old_
/ipch/
/obj/
/out/
/res/toolset/
/src/*.h.bak
/tmp/
